<tr>
  <td><%= badge.title %></td>
  <td class="text-center"><%= badge.rule.text %></td>
  <td class="text-center"><img src="<%= "#{badge.image}" %>" alt="<%= "#{badge.title}" %>"></td>
  <td class="text-center"><%= link_to t('links.edit'), edit_admin_badge_path(badge) %></td>
  <td class="text-center"><%= link_to t('links.delete'),
                admin_badge_path(badge),
                method: :delete,
                data: { confirm: t('links.confirm') } %>
  </td>
</tr>
