<nav class="navbar navbar-light bg-light lighten-5">
  <h1><%= link_to 'TestGuru', root_path, class: 'navbar-brand' %></h1>
  <div class="totheright">
    <% if user_signed_in? %>
      <b><%= t('shared.header.welcome', name: current_user.name) %></b>
      <%= link_to t('links.admin'), admin_tests_path if current_user.admin? %>
      <%= link_to t('links.gists'), admin_gists_path if current_user.admin? %>
      <%= link_to t('links.badges'), admin_badges_path if current_user.admin? %>
      <%= link_to t('links.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('links.signup'), new_user_registration_path %>
      <%= link_to t('links.login'), new_user_session_path %>
    <% end %>
  </div>
</nav>

