<p>
  <strong>Test ID:</strong>
  <%= @question.test_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<h2>Answers</h2>

<%= link_to 'New answer', new_admin_question_answer_path(@question) %><br>

<table>
  <tr>
    <th>Questions</th>
    <th colspan="3">Actions</th>
  </tr>
  <%= render @question.answers %>
</table>

<%= link_to 'Edit', edit_admin_question_path(@question) %>
<%= link_to 'Back', admin_test_path(@question.test) %>
