<p>
  <strong><%= t('.id') %></strong>
  <%= @question.test_id %>
</p>

<p>
  <strong><%= t('.body') %></strong>
  <%= @question.body %>
</p>

<h2><%= t('.answers') %></h2>

<%= link_to t('links.new_answer'), new_admin_question_answer_path(@question) %><br>

<table>
  <tr>
    <th><%= t('.questions') %></th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>
  <%= render @question.answers %>
</table>

<%= link_to t('links.edit'), edit_admin_question_path(@question) %>
<%= link_to t('links.back'), admin_test_path(@question.test) %>
