<tr>
  <td>
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="text-center"><%= test.level %></td>
  <td class="text-center"><%= test.questions.count %></td>
  <td class="text-center"><%= test.timer %></td>
  <td class="text-center"><%= link_to t('links.show'), admin_test_path(test) %></td>
  <td class="text-center">
    <%= link_to t('links.edit'),
                edit_admin_test_path(test),
                class: 'form-inline-link',
                data: { test_id: test.id } %>
  </td>
  <td class="text-center">
    <%= link_to t('links.delete'),
                admin_test_path(test),
                method: :delete,
                data: { confirm: t('links.confirm') } %>
  </td>
</tr>
